#dancer1{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: span 6;
    grid-row-end: span 6;

    justify-self: center;
    align-self: center;

    /*-webkit-animation: cw-twirl 2s infinite; !* Safari 4+ *!*/
    /*-webkit-transform-origin: 50% 50%;*/
}

#dancer2{
    grid-column-start: 1;
    grid-row-start: 7;
    grid-column-end: span 6;
    grid-row-end: span 6;

    justify-self: center;
    align-self: center;

    /*-webkit-animation: ccw-twirl 2s infinite; !* Safari 4+ *!*/
    /*-webkit-transform-origin: 50% 50%;*/
}