#dancer1_{
    grid-area: dancer1;

    -webkit-animation: cw-twirl 2s infinite; /* Safari 4+ */
    -webkit-transform-origin: 50% 50%;
}

#dancer2_{
    grid-area: dancer2;

    -webkit-animation: ccw-twirl 2s infinite; /* Safari 4+ */
    -webkit-transform-origin: 50% 50%;
}


#dance-floor {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    grid-template-areas:
    "dancer1 dancer2 . ."
    ". . . ."
    ". . . ."
    ". . . .";

    background-color: aquamarine;
}

#couple_{
    -webkit-animation: cw-twirl 2s infinite; /* Safari 4+ */
    -webkit-transform-origin: 50% 50%;
}


@-webkit-keyframes cw-twirl {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ccw-twirl {
    0%   {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}